/* filepath: e:\code\BWD_2025\new-bwd-2025\src\components\Header\Header.module.css */
.headerTitle {
    color: blue;
    font-size: 24px;
}

.navigationList {
    display: flex;
    gap: 16px;
    list-style: none;
}

.navItem {
    list-style: none;
}

.navLink {
    color: black;
    text-decoration: none;
}

.navLink:hover {
    text-decoration: underline;
}